In [72]:
import pandas as pd

In [73]:
data_flood = pd.read_csv('raw data/flood_2023_final.csv')
data_flood

C:\Users\bankz\AppData\Local\Temp\ipykernel_11620\1939339162.py:1: DtypeWarning: Columns (2,4,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data_flood = pd.read_csv('raw data/flood_2023_final.csv')

,Incident Name,Disaster Date,Province Code,Province,District Code,District,Subdistrict Code,Subdistrict,Moo,Municipal Code,...,Livestock Damage,Fishing Damage,Transport Damage,Health Damage,Culture Damage,Education/Sports,Utilities Damage,Govt. Locations Damage,Other Public Benefits,Govt Property Damage
0,ประเภทภัย,วันที่เกิดภัย,รหัสจังหวัด,จังหวัด,รหัสอำเภอ,อำเภอ,รหัสตำบล,ตำบล,หมู่ที่,รหัสเทศบาล,...,ด้านปศุสัตว์\n(ตัว),ด้านประมง\n(บ่อ/กระชัง/ไร่),ด้านคมนาคม\n(แห่ง),ด้านสาธารณสุข\n(แห่ง),ด้านศาสนาวัฒนธรรม\n(แห่ง),ด้านสถานศึกษา/กีฬา\n(แห่ง),ด้านสาธารณูปโภค\n(แห่ง),ด้านสถานที่ราชการ\n(แห่ง),ด้านสาธารณประโยชน์อื่น\n(แห่ง),ด้านทรัพย์สินราชการ/เอกชน\n(หน่วย)
1,อุทกภัย,26/9/2023,81,กระบี่,8104,คลองท่อม,810402,คลองท่อมเหนือ,2,,...,,,5,,,,,,,
2,อุทกภัย,14/10/2023,81,กระบี่,8108,เหนือคลอง,810805,โคกยาง,1,,...,4,,7,,,,,,,
3,อุทกภัย,14/10/2023,81,กระบี่,8108,เหนือคลอง,810805,โคกยาง,6,,...,,,,,,,,,,
4,อุทกภัย,4/11/2023,81,กระบี่,8101,เมืองกระบี่,810111,ทับปริก,4,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19602,อุทกภัย,12/10/2023,34,อุบลราชธานี,3404,เขื่องใน,340405,หัวดอน,1,,...,,,,,,,,,,
19603,อุทกภัย,12/10/2023,34,อุบลราชธานี,3404,เขื่องใน,340405,หัวดอน,2,,...,,,,,,,,,,
19604,อุทกภัย,12/10/2023,34,อุบลราชธานี,3404,เขื่องใน,340406,ชีทวน,1,,...,,,,,,,,,,
19605,อุทกภัย,12/10/2023,34,อุบลราชธานี,3404,เขื่องใน,340406,ชีทวน,8,,...,,,,,,,,,,
19606,อุทกภัย,12/10/2023,34,อุบลราชธานี,3415,วารินชำราบ,341510,คำน้ำแซบ,1,,...,,,,,,,,,,

In [74]:
data_flood = data_flood[['Disaster Date','End Disaster Date','Province','District','Subdistrict']]
data_flood = data_flood.drop(index=0) 
data_flood = data_flood.reset_index(drop=True)
data_flood

      Disaster Date End Disaster Date     Province     District    Subdistrict
0         26/9/2023         5/10/2023       กระบี่     คลองท่อม  คลองท่อมเหนือ
1        14/10/2023        24/10/2023       กระบี่    เหนือคลอง         โคกยาง
2        14/10/2023        24/10/2023       กระบี่    เหนือคลอง         โคกยาง
3         4/11/2023         8/11/2023       กระบี่  เมืองกระบี่        ทับปริก
4         4/11/2023         8/11/2023       กระบี่  เมืองกระบี่        ทับปริก
...             ...               ...          ...          ...            ...
19601    12/10/2023                    อุบลราชธานี     เขื่องใน         หัวดอน
19602    12/10/2023                    อุบลราชธานี     เขื่องใน         หัวดอน
19603    12/10/2023                    อุบลราชธานี     เขื่องใน          ชีทวน
19604    12/10/2023                    อุบลราชธานี     เขื่องใน          ชีทวน
19605    12/10/2023                    อุบลราชธานี   วารินชำราบ       คำน้ำแซบ

[19606 rows x 5 columns]

In [75]:
data_flood['Disaster Date'] = pd.to_datetime(data_flood['Disaster Date'], dayfirst=True, errors='coerce')
data_flood['End Disaster Date'] = pd.to_datetime(data_flood['End Disaster Date'], dayfirst=True, errors='coerce')


data_flood['duration_days'] = (data_flood['End Disaster Date'] - data_flood['Disaster Date']).dt.days
avg_duration = data_flood['duration_days'].mean(skipna=True)


data_flood['End Disaster Date'] = data_flood['End Disaster Date'].fillna(
    data_flood['Disaster Date'] + pd.to_timedelta(round(avg_duration), unit='D')
)


data_flood = data_flood.drop(columns=['duration_days'])

print("avg_duration:", avg_duration, "day")
data_flood

avg_duration: 52.73305942598547 day

      Disaster Date End Disaster Date     Province     District    Subdistrict
0        2023-09-26        2023-10-05       กระบี่     คลองท่อม  คลองท่อมเหนือ
1        2023-10-14        2023-10-24       กระบี่    เหนือคลอง         โคกยาง
2        2023-10-14        2023-10-24       กระบี่    เหนือคลอง         โคกยาง
3        2023-11-04        2023-11-08       กระบี่  เมืองกระบี่        ทับปริก
4        2023-11-04        2023-11-08       กระบี่  เมืองกระบี่        ทับปริก
...             ...               ...          ...          ...            ...
19601    2023-10-12        2023-12-04  อุบลราชธานี     เขื่องใน         หัวดอน
19602    2023-10-12        2023-12-04  อุบลราชธานี     เขื่องใน         หัวดอน
19603    2023-10-12        2023-12-04  อุบลราชธานี     เขื่องใน          ชีทวน
19604    2023-10-12        2023-12-04  อุบลราชธานี     เขื่องใน          ชีทวน
19605    2023-10-12        2023-12-04  อุบลราชธานี   วารินชำราบ       คำน้ำแซบ

[19606 rows x 5 columns]

In [76]:
north_provinces = [
    'เชียงราย', 'เชียงใหม่', 'น่าน', 'พะเยา', 'แพร่', 'แม่ฮ่องสอน', 'ลำปาง', 'ลำพูน',
    'อุตรดิตถ์'
]
data_flood = data_flood[data_flood['Province'].isin(north_provinces)]
data_flood

      Disaster Date End Disaster Date   Province       District Subdistrict
3642     2023-07-16        2023-07-16   เชียงราย     แม่ฟ้าหลวง   แม่สลองใน
3643     2023-07-19        2023-08-04   เชียงราย        แม่สรวย     แม่สรวย
3644     2023-07-19        2023-08-04   เชียงราย        แม่สรวย     แม่สรวย
3645     2023-08-02        2023-08-02   เชียงราย  เมืองเชียงราย      แม่ยาว
3646     2023-08-02        2023-08-02   เชียงราย  เมืองเชียงราย      แม่ยาว
...             ...               ...        ...            ...         ...
19079    2023-10-10        2023-11-15  อุตรดิตถ์      ทองแสนขัน      น้ำพี้
19080    2023-10-10        2023-11-15  อุตรดิตถ์      ทองแสนขัน      น้ำพี้
19081    2023-10-14        2023-10-24  อุตรดิตถ์         น้ำปาด      ท่าแฝก
19082    2023-10-14        2023-10-24  อุตรดิตถ์         น้ำปาด      ท่าแฝก
19083    2023-10-14        2023-10-24  อุตรดิตถ์         น้ำปาด      ท่าแฝก

[3398 rows x 5 columns]

In [77]:

# สร้าง list เก็บข้อมูลขยาย
expanded_rows = []

for _, row in data_flood.iterrows():
    date_range = pd.date_range(start=row['Disaster Date'], end=row['End Disaster Date'])
    for single_date in date_range:
        expanded_rows.append({
            'Date': single_date,
            'Province': row['Province'],
            'District': row['District'],
            'Subdistrict': row['Subdistrict'],
            'Label': 1
        })

# สร้าง DataFrame ใหม่
df_expanded = pd.DataFrame(expanded_rows)

# เรียงตามวันที่
df_expanded = df_expanded.sort_values(by='Date').reset_index(drop=True)
df_expanded

            Date    Province  District Subdistrict  Label
0     2023-05-14   เชียงใหม่  เวียงแหง       แสนไห      1
1     2023-05-14   เชียงใหม่  เวียงแหง       แสนไห      1
2     2023-05-14   เชียงใหม่  เวียงแหง       แสนไห      1
3     2023-05-14   เชียงใหม่  เวียงแหง       แสนไห      1
4     2023-05-14   เชียงใหม่  เวียงแหง       แสนไห      1
...          ...         ...       ...         ...    ...
64829 2023-12-22  แม่ฮ่องสอน       ปาย      แม่ฮี้      1
64830 2023-12-22  แม่ฮ่องสอน       ปาย      แม่ฮี้      1
64831 2023-12-22  แม่ฮ่องสอน       ปาย      โป่งสา      1
64832 2023-12-22  แม่ฮ่องสอน       ปาย  เวียงเหนือ      1
64833 2023-12-22  แม่ฮ่องสอน       ปาย     ทุ่งยาว      1

[64834 rows x 5 columns]

In [78]:
data_wather = pd.read_csv('data/Climate_2023.csv')
print(data_wather['Province'].unique())
data_wather

['เกษตร เชียงราย' 'เฉิน ลำปาง' 'เชียงราย' 'ท่าวังผ่า น่าน' 'ทุ่งช้าง น่าน'
 'น่าน' 'ฝาง เชียงใหม่' 'พะเยา' 'แพร่' 'เมือง เชียงใหม่' 'เมือง น่าน'
 'แม่สะเรียง แม่ฮ่องสอน' 'แม่ฮ่องสอน' 'ลำปาง' 'ลำพูน' 'ห้างฉัตร ลำปาง'
 'อุตรดิตถ์']

            Date Max temp  Min temp Rain        Province
0       2023/1/1     27.4      15.1  0.0  เกษตร เชียงราย
1       2023/1/2     27.0      12.0  0.0  เกษตร เชียงราย
2       2023/1/3     27.0      11.3  0.0  เกษตร เชียงราย
3       2023/1/4     28.4      16.1  0.0  เกษตร เชียงราย
4       2023/1/5     28.9      13.4  0.0  เกษตร เชียงราย
...          ...      ...       ...  ...             ...
6200  2023/12/27     32.5      19.4  0.0       อุตรดิตถ์
6201  2023/12/28     33.4      18.6  0.0       อุตรดิตถ์
6202  2023/12/29     33.8      18.2  0.0       อุตรดิตถ์
6203  2023/12/30     34.6      19.5  0.0       อุตรดิตถ์
6204  2023/12/31     34.8      18.5  0.0       อุตรดิตถ์

[6205 rows x 5 columns]

In [79]:
data_dams = pd.read_csv('data/Dams_2023.csv')
print(data_dams['Name of dam'].unique())
data_dams

['Kiew Kor Ma Dam' 'Khwae Noi Bamrung Dan Dam' 'Mae Kuang Udom Thara Dam'
 'Mae Ngat Somboon Chon Dam' 'Mae Mok Dam' 'Sirikit Dam' 'Kiew Lom Dam'
 'Bhumibol Dam']

            Date  Water volume in dams (by %)                Name of dam
0     2023-01-01                       110.86            Kiew Kor Ma Dam
1     2023-01-01                        86.79  Khwae Noi Bamrung Dan Dam
2     2023-01-01                        88.24   Mae Kuang Udom Thara Dam
3     2023-01-01                        94.81   Mae Kuang Udom Thara Dam
4     2023-01-01                       103.52  Mae Ngat Somboon Chon Dam
...          ...                          ...                        ...
2915  2023-12-31                        79.92   Mae Kuang Udom Thara Dam
2916  2023-12-31                       107.91  Mae Ngat Somboon Chon Dam
2917  2023-12-31                        86.00                Mae Mok Dam
2918  2023-12-31                        59.95                Sirikit Dam
2919  2023-12-31                        90.60               Kiew Lom Dam

[2920 rows x 3 columns]

In [80]:
data_river = pd.read_csv('data/River_2023.csv')
print(data_river['Station'].unique())
data_river

['Ban Chiang' 'Ban Chiang Dao' 'Ban Chor Lae' 'Ban Don Chai' 'Ban Don Mun'
 'Ban Don Sali' 'Ban Hong' 'Ban Hua Sapan' 'Ban Huai Pa Sang'
 'Ban Huai Sak' 'Ban Klang' 'Ban Ko Kha' 'Ban Kok Tong'
 'Ban Krariang Tung Phrao' 'Ban Lai Kaeo' 'Ban Luang' 'Ban Luang Nuea'
 'Ban Mae E Hi' 'Ban Mae Kha Bridge' 'Ban Mae Khom Mi Tamnak Tham'
 'Ban Mae Lai' 'Ban Mae Tae' 'Ban Mae Taeng' 'Ban Mae Wan'
 'Ban Mai Rim Fang' 'Ban Mang' 'Ban Muang Pok' 'Ban Mueang Kuet'
 'Ban Mueang Mai' 'Ban Mueang Pha' 'Ban Nam Ing' 'Ban Nam Khong'
 'Ban Nam Yao' 'Ban Nong Daeng' 'Ban Nong Naw' 'Ban Nong Pham'
 'Ban Pa Kha' 'Ban Pa Khoi Tai' 'Ban Pa Sang' 'Ban Pang Sa'
 'Ban Pha Khwang' 'Ban Phai Ngarm' 'Ban Phan Ton' 'Ban Phi Tai'
 'Ban Phu Yaeng' 'Ban Pong' 'Ban Rong Kho' 'Ban Rong Khun'
 'Ban Saluang Nok' 'Ban San Pu Loei' 'Ban Singpotin' 'Ban Sob Soi'
 'Ban Sop Mae Sapoot' 'Ban Sop Pae' 'Ban Sop Prap' 'Ban Sop Tam'
 'Ban Sop Win' 'Ban Tha Duea' 'Ban Tha Lo' 'Ban Tha Pong Daeng'
 'Ban Thung Nong' 'Ban Ton Yang' 'Ban Wang Chin' 'Chedingam'
 'In front of the Forestry Office' 'Mae Kham Lak Chet' 'Nam Mae Chaem'
 'Nawarat Bridge' 'Pracha Uthit Bridge' 'Romklao Cooperative House'
 'Saphan Ban Khay' 'Setuwari Bridge' 'Tha Li Bridge' 'Tha Nang Bridge'
 'Wang Phrao' 'Ban Pang Rimkorn' 'Ban Nun Tai' 'Ban Wang Din' 'Ban Hai']

,Date,Average of Water heights in meter,Station,Name of river,Subdistrict,District,Province
0,2023-01-01,1.25,Ban Chiang,น้ำแม่แจ่ม,ช่างเคิ่ง,แม่แจ่ม,เชียงใหม่
1,2023-01-01,2.58,Ban Chiang Dao,แม่น้ำปิง,เชียงดาว,เชียงดาว,เชียงใหม่
2,2023-01-01,3.57,Ban Chor Lae,แม่น้ำปิง,ช่อแล,แม่แตง,เชียงใหม่
3,2023-01-01,3.95,Ban Don Chai,แม่น้ำวัง,ล้อมแรด,เถิน,ลำปาง
4,2023-01-01,8.54,Ban Don Mun,แม่น้ำวัง,บ้านแลง,เมือง,ลำปาง
...,...,...,...,...,...,...,...
28014,2023-12-31,4.26,Saphan Ban Khay,น้ำฝาง,แม่นาวาง,แม่อาย,เชียงใหม่
28015,2023-12-31,5.92,Setuwari Bridge,แม้น้ำวัง,เวียงเหนือ,เมือง,ลำปาง
28016,2023-12-31,12.47,Tha Li Bridge,น้ำว้า,ขึ่ง,เวียงสา,น่าน
28017,2023-12-31,7.81,Tha Nang Bridge,น้ำแม่กวง,ในเมือง,เมือง,ลำพูน
28018,2023-12-31,3.48,Wang Phrao,น้ำแม่จาง,วังพร้าว,เกาะคา,ลำปาง

In [ ]:
df_expanded['Date'] = pd.to_datetime(df_expanded['Date'], dayfirst=True)
data_river['Date'] = pd.to_datetime(data_river['Date'], dayfirst=False)

# เตรียมข้อมูลระดับน้ำ (df2_clean)
df2_clean = data_river[['Date', 'Station', 'Average of Water heights in meter']].copy()
df2_clean.rename(columns={'Average of Water heights in meter':'Water_Height'}, inplace=True)
df2_clean['Water_Height'] = pd.to_numeric(df2_clean['Water_Height'], errors='coerce')

# สร้าง pivot table จากวันที่กับ Station
df_wide = df2_clean.pivot_table(
    index='Date',
    columns='Station',
    values='Water_Height',
    aggfunc='mean'  # หรือ 'first' ถ้าไม่ต้องการเฉลี่ย
).reset_index()

# รวมกับ df_expanded โดย join แค่ Date
df_flood_river = pd.merge(df_expanded, df_wide, how='left', on='Date')
df_flood_river

,Date,Province,District,Subdistrict,Label,Ban Chiang,Ban Chiang Dao,Ban Chor Lae,Ban Don Chai,Ban Don Mun,...,Mae Kham Lak Chet,Nam Mae Chaem,Nawarat Bridge,Pracha Uthit Bridge,Romklao Cooperative House,Saphan Ban Khay,Setuwari Bridge,Tha Li Bridge,Tha Nang Bridge,Wang Phrao
0,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,7.04,3.84,5.40,5.14,6.11,5.90,5.78,12.40,8.44,3.61
1,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,7.04,3.84,5.40,5.14,6.11,5.90,5.78,12.40,8.44,3.61
2,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,7.04,3.84,5.40,5.14,6.11,5.90,5.78,12.40,8.44,3.61
3,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,7.04,3.84,5.40,5.14,6.11,5.90,5.78,12.40,8.44,3.61
4,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,7.04,3.84,5.40,5.14,6.11,5.90,5.78,12.40,8.44,3.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64829,2023-12-22,แม่ฮ่องสอน,ปาย,แม่ฮี้,1,1.35,2.60,3.56,3.92,8.09,...,5.65,3.60,5.15,NaN,5.60,4.35,5.55,12.52,7.55,3.50
64830,2023-12-22,แม่ฮ่องสอน,ปาย,แม่ฮี้,1,1.35,2.60,3.56,3.92,8.09,...,5.65,3.60,5.15,NaN,5.60,4.35,5.55,12.52,7.55,3.50
64831,2023-12-22,แม่ฮ่องสอน,ปาย,โป่งสา,1,1.35,2.60,3.56,3.92,8.09,...,5.65,3.60,5.15,NaN,5.60,4.35,5.55,12.52,7.55,3.50
64832,2023-12-22,แม่ฮ่องสอน,ปาย,เวียงเหนือ,1,1.35,2.60,3.56,3.92,8.09,...,5.65,3.60,5.15,NaN,5.60,4.35,5.55,12.52,7.55,3.50
64833,2023-12-22,แม่ฮ่องสอน,ปาย,ทุ่งยาว,1,1.35,2.60,3.56,3.92,8.09,...,5.65,3.60,5.15,NaN,5.60,4.35,5.55,12.52,7.55,3.50

In [94]:
data_dams['Date'] = pd.to_datetime(data_dams['Date'], dayfirst=False)

df_dam_wide = data_dams.pivot_table(
    index='Date',
    columns='Name of dam',
    values='Water volume in dams (by %)',
    aggfunc='mean'
).reset_index()

# --- รวมข้อมูลเขื่อนเข้ากับ df_flood_river โดยใช้ Date ---
df_flood_river_dams = pd.merge(df_flood_river, df_dam_wide, how='left', on='Date')

# --- ดูข้อมูลผลลัพธ์ ---
df_flood_river_dams

,Date,Province,District,Subdistrict,Label,Ban Chiang,Ban Chiang Dao,Ban Chor Lae,Ban Don Chai,Ban Don Mun,...,Tha Nang Bridge,Wang Phrao,Bhumibol Dam,Khwae Noi Bamrung Dan Dam,Kiew Kor Ma Dam,Kiew Lom Dam,Mae Kuang Udom Thara Dam,Mae Mok Dam,Mae Ngat Somboon Chon Dam,Sirikit Dam
0,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,8.44,3.61,58.39,25.99,48.28,53.47,61.30,33.14,61.33,45.05
1,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,8.44,3.61,58.39,25.99,48.28,53.47,61.30,33.14,61.33,45.05
2,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,8.44,3.61,58.39,25.99,48.28,53.47,61.30,33.14,61.33,45.05
3,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,8.44,3.61,58.39,25.99,48.28,53.47,61.30,33.14,61.33,45.05
4,2023-05-14,เชียงใหม่,เวียงแหง,แสนไห,1,1.68,2.88,3.80,3.99,8.23,...,8.44,3.61,58.39,25.99,48.28,53.47,61.30,33.14,61.33,45.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64829,2023-12-22,แม่ฮ่องสอน,ปาย,แม่ฮี้,1,1.35,2.60,3.56,3.92,8.09,...,7.55,3.50,75.80,92.55,110.78,97.51,79.52,91.60,108.41,61.13
64830,2023-12-22,แม่ฮ่องสอน,ปาย,แม่ฮี้,1,1.35,2.60,3.56,3.92,8.09,...,7.55,3.50,75.80,92.55,110.78,97.51,79.52,91.60,108.41,61.13
64831,2023-12-22,แม่ฮ่องสอน,ปาย,โป่งสา,1,1.35,2.60,3.56,3.92,8.09,...,7.55,3.50,75.80,92.55,110.78,97.51,79.52,91.60,108.41,61.13
64832,2023-12-22,แม่ฮ่องสอน,ปาย,เวียงเหนือ,1,1.35,2.60,3.56,3.92,8.09,...,7.55,3.50,75.80,92.55,110.78,97.51,79.52,91.60,108.41,61.13
64833,2023-12-22,แม่ฮ่องสอน,ปาย,ทุ่งยาว,1,1.35,2.60,3.56,3.92,8.09,...,7.55,3.50,75.80,92.55,110.78,97.51,79.52,91.60,108.41,61.13

In [81]:
dataframe = pd.read_csv('data/dataframe_2023.csv')
dataframe

             date   Province       District Subdistrict  Label
0      01/01/2023   เชียงราย  เมืองเชียงราย    รอบเวียง      0
1      01/01/2023       แพร่      เมืองแพร่     ในเวียง      0
2      01/01/2023      พะเยา            จุน     หงส์หิน      0
3      01/01/2023      พะเยา            จุน         จุน      0
4      01/01/2023      พะเยา      เชียงม่วน     บ้านมาง      0
...           ...        ...            ...         ...    ...
28100  31/12/2023       แพร่      เมืองแพร่     ในเวียง      0
28101  31/12/2023       แพร่      เมืองแพร่      นาจักร      0
28102  31/12/2023       แพร่       ร้องกวาง    ร้องกวาง      0
28103  31/12/2023      พะเยา        เชียงคำ       หย่วน      0
28104  31/12/2023  อุตรดิตถ์         ฟากท่า      สองคอน      0

[28105 rows x 5 columns]

In [82]:
dataframe['date'] = pd.to_datetime(dataframe['date'], dayfirst=True)
df_expanded['Date'] = pd.to_datetime(df_expanded['Date'], dayfirst=True)

# สร้าง key สำหรับ merge (ใช้หลายคอลัมน์)
merge_cols = ['date', 'Province', 'District', 'Subdistrict']

# เปลี่ยนชื่อคอลัมน์ Date ใน df_flood ให้ตรงกับ df_base
df_flood = df_expanded.rename(columns={'Date': 'date'})

# รวมข้อมูล โดยเอา label = max (ถ้ามี 1 จะได้ 1)
df_merged = pd.merge(
    dataframe, 
    df_flood[merge_cols + ['Label']], 
    on=merge_cols, 
    how='left'
)

# ถ้า label_flood เป็น NaN ให้แทนด้วย 0
df_merged['Label_y'] = df_merged['Label_y'].fillna(0)

# รวม Label: ถ้า base=0 และ flood=1 → ให้เป็น 1
df_merged['Label'] = df_merged[['Label_x', 'Label_y']].max(axis=1)

# ลบคอลัมน์ส่วนเกิน
df_final = df_merged.drop(columns=['Label_x', 'Label_y'])
df_final

            date   Province       District Subdistrict  Label
0     2023-01-01   เชียงราย  เมืองเชียงราย    รอบเวียง    0.0
1     2023-01-01       แพร่      เมืองแพร่     ในเวียง    0.0
2     2023-01-01      พะเยา            จุน     หงส์หิน    0.0
3     2023-01-01      พะเยา            จุน         จุน    0.0
4     2023-01-01      พะเยา      เชียงม่วน     บ้านมาง    0.0
...          ...        ...            ...         ...    ...
31524 2023-12-31       แพร่      เมืองแพร่     ในเวียง    0.0
31525 2023-12-31       แพร่      เมืองแพร่      นาจักร    0.0
31526 2023-12-31       แพร่       ร้องกวาง    ร้องกวาง    0.0
31527 2023-12-31      พะเยา        เชียงคำ       หย่วน    0.0
31528 2023-12-31  อุตรดิตถ์         ฟากท่า      สองคอน    0.0

[31529 rows x 5 columns]

In [83]:
df_final[df_final['Label']==1]

            date    Province         District Subdistrict  Label
651   2023-09-01        น่าน          เวียงสา   กลางเวียง    1.0
652   2023-09-01        น่าน          เวียงสา   กลางเวียง    1.0
653   2023-09-01        น่าน          เวียงสา   กลางเวียง    1.0
654   2023-09-01        น่าน          เวียงสา   กลางเวียง    1.0
655   2023-09-01        น่าน          เวียงสา   กลางเวียง    1.0
...          ...         ...              ...         ...    ...
31426 2023-10-31  แม่ฮ่องสอน              ปาย    เวียงใต้    1.0
31427 2023-10-31  แม่ฮ่องสอน              ปาย    เวียงใต้    1.0
31428 2023-10-31  แม่ฮ่องสอน              ปาย    เวียงใต้    1.0
31430 2023-10-31  แม่ฮ่องสอน  เมืองแม่ฮ่องสอน      ปางหมู    1.0
31446 2023-10-31    เชียงราย     เวียงป่าเป้า       เวียง    1.0

[4227 rows x 5 columns]